* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Mochiy Pop One", sans-serif;
}

#header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;

  background-color: #1950de;
}

.button-hamburguer {
  width: 60px;
  border: none;
  background-color: transparent;

  font-family: "Poppins", sans-serif;
  font-size: 48px;
  color: #fff;

  margin: 0 14px;
}

#user {
  display: none;
}

#lupa-desktop {
  display: flex;
  position: relative;
}

#lupa-desktop {
  display: none;
}

#banner {
  display: none;
}

h1 {
  font-family: "Mochiy Pop One", sans-serif;
  font-size: 36px;
  margin: 0 14px;

  color: #fff;
}

#header-bottom {
  display: flex;
  justify-content: end;
  align-items: center;

  height: 50px;

  background-color: #3f6bdd;
}

#header-bottom img {
  width: 25px;
  height: 25px;
  margin: 0 18px;
}

#header-bottom nav {
  display: none;
}

#container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
}

#lupa-mobile {
  position: relative;
  margin: 20px 0;
}

.material-icons {
  position: absolute;
  left: 18px;
  top: 14px;

  color: #1950de;
}

#lupa-mobile input {
  width: 362px;
  height: 50px;

  border: none;
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  color: rgba(25, 80, 222, 0.8);
}

#lupa-mobile input::placeholder {
  padding: 0 60px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
}

.position-detach {
  display: none;
}

.container-products {
  display: flex;
  flex-direction: column;
}

.container-products h2 {
  margin: 0 24px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;

  color: #000;
}

.position-cards {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;

  margin: 20px 0;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;

  width: 200px;
  height: 324px;

  border-radius: 15px;
  background-color: #f3f3f3;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card img {
  width: 80px;
}

.card p {
  width: 80%;

  font-family: "Poppins", sans-serif;
  font-size: 12px;
  font-weight: 400;

  color: #000;
}

.container-statistic {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 80%;
}

.stars img {
  width: 12px;
}

.price span {
  font-family: "Poppins", sans-serif;
  font-size: 12px;

  color: #000;
}

#follow {
  display: flex;
  flex-direction: column;

  color: white;
}

#follow-icons {
  display: flex;
  justify-content: center;
  gap: 19px;
}

#follow-icons img {
  width: 25px;
  height: 25px;
}

p {
  font-family: "Poppins", sans-serif;

  color: white;
}

footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  height: 80px;
  background-color: #1950de;
}

#links {
  display: none;
}

@media (min-width: 1280px) {
  .container-login {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #user {
    display: flex;
    gap: 14px;
    margin: 0 64px;
  }

  .button-hamburguer {
    display: none;
  }

  #user img {
    width: 24px;
    height: 24px;
  }

  #user a {
    font-family: "Mochiy Pop One", sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-decoration: none;

    color: #fff;
  }

  #lupa-desktop {
    display: flex;
  }

  #lupa-desktop i {
    position: absolute;
    left: 19px;
    top: 7px;
  }

  #lupa-desktop input {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 500px;
    height: 40px;

    border: none;
    border-radius: 15px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  #lupa-desktop input::placeholder {
    padding: 0 60px;

    font-family: Poppins;
    font-size: 20px;
    color: rgba(25, 80, 222, 0.8);
  }

  #banner {
    display: block;
    height: 680px;

    background-image: url("./assets/banner.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  h1 {
    margin: 0 17px;
  }

  .position-detach {
    display: flex;
    justify-content: space-between;

    width: 100%;
    padding: 41px;
  }

  .position-detach article {
    display: flex;
    align-items: center;
    gap: 13px;

    width: 280px;
    height: 72px;
    padding: 21px;

    border-radius: 10px;
    background: #d79016;
  }

  .position-detach article img {
    width: 40px;
    height: 40px;
  }

  .detach-text {
    display: flex;
    flex-direction: column;
  }

  .detach-text h4 {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 400;

    color: #fff;
  }

  .detach-text span {
    font-family: Poppins;
    font-size: 16px;

    color: #fff;
  }

  .container-products {
    padding: 21px;
  }

  .container-products h2 {
    font-family: Montserrat;
    font-size: 27px;
    font-weight: 600;

    color: #000;
  }

  #container-right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 41px;
  }

  #header-bottom {
    display: flex;
    justify-content: space-between;
    height: 50px;
  }

  #header-bottom nav {
    display: flex;
    gap: 105px;
    margin: 0 190px;
  }

  #header-bottom a {
    text-decoration: none;
    font-family: Mochiy Pop One;
    font-size: 20px;

    color: #fff;
  }

  #header-bottom img {
    margin: 0 54px;
  }

  #lupa-mobile {
    display: none;
  }

  .position-cards {
    display: flex;
    flex-direction: row;
  }

  footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 15px;
  }

  #links {
    display: flex;
    gap: 14px;
    margin: 0 60px;
  }

  #links a {
    text-decoration: none;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;

    color: #fff;
  }

  #follow {
    display: flex;
    flex-direction: row;
  }

  #follow h3 {
    font-family: Poppins;
    font-size: 20px;

    color: #fff;
  }

  #follow-icons {
    margin: 0 60px;
  }
}
